@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    color: #000000;
}

/* Estilos para el tema oscuro */
.dark body {
    background-color: #202020;
    color: #ffffff;
}

.logo-img{
    width: 100px;
    margin-right: 20px;
}

li{
    list-style: none;
}
