@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff0ff;
    color: #000000;
}
aside {
	background-color: #ffffff;
    color: #000000;
}
/* Estilos para el tema oscuro */
.dark body {
    background-color: #181818;
    color: #ffffff;
}
.dark aside {
    background-color: #181818;
    color: #ffffff;
}

.css-1yy3cs7 .css-l1mejo {
	background: transparent;
}

.css-ttn1xo .css-l1mejo{
	background: transparent;
}

.logo-img{
    width: 100px;
    margin-right: 20px;
}

li{
    list-style: none;
}

.LoginCard {
	/* Color & Background */
	background-attachment: scroll;
	background-color: #ffffff;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(54, 65, 82);

	/* Box */
	height: 708.656px;
	width: 473px;
	border: 0px none rgb(54, 65, 82);
	border-top: 0px none rgb(54, 65, 82);
	border-right: 0px none rgb(54, 65, 82);
	border-bottom: 0px none rgb(54, 65, 82);
	border-left: 0px none rgb(54, 65, 82);
	margin: 0px;
	padding: 24px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.LoginImg {
	display: flex;
	justify-content: center;
	/* Centra horizontalmente */
	align-items: center;
}

.LoginMsg {

	/* Box */
	height: 71.7344px;
	border: 0px none rgb(54, 65, 82);
	border-top: 0px none rgb(54, 65, 82);
	border-right: 0px none rgb(54, 65, 82);
	border-bottom: 0px none rgb(54, 65, 82);
	border-left: 0px none rgb(54, 65, 82);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	justify-content: center; /* Centra horizontalmente */
	align-items: center;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;
}

.LoginTxt1 {
	/* Font & Text */
	margin: 0px 0px 0.35em;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    line-height: 1.2;
    color: rgb(103, 58, 183);

	display: flex;
	justify-content: center; /* Centra horizontalmente */
	align-items: center;
}

.LoginTxt2{
	margin: 8px 0px 0px;
	color: rgb(105, 117, 134);
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.66;
    font-size: 16px;
    text-align: inherit;

	display: flex;
	justify-content: center; /* Centra horizontalmente */
	align-items: center;
}

.LoginSeparacion{
	padding-top: 20px;
	padding-bottom: 20px;
}

.LoginRecta{
	margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(227, 232, 239);
    opacity: 1;
    -webkit-box-flex: 2;
    flex-grow: 1;
}

.LoginForm {

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(54, 65, 82);

	/* Box */
	height: 256.5px;
	width: 425px;
	border: 0px none rgb(54, 65, 82);
	border-top: 0px none rgb(54, 65, 82);
	border-right: 0px none rgb(54, 65, 82);
	border-bottom: 0px none rgb(54, 65, 82);
	border-left: 0px none rgb(54, 65, 82);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

}

.LoginFinal{
	display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.LoginRemember{
	display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    margin-left: -11px;
    margin-right: 16px;
}

.LoginCheckbox{
	display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    padding: 9px;
    border-radius: 50%;
    color: rgb(105, 117, 134);
}

.LoginRememberSpan{
	margin: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
}

.LoginForgot{
	margin: 0px;
    font-size: 0.875rem;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    line-height: 1.75;
    color: rgb(103, 58, 183);
    text-decoration: none;
    cursor: pointer;
}

.LoginButton{
	display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Roboto, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 8px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(103, 58, 183);
    width: 100%;
    box-shadow: none;
    font-weight: 500;
    border-radius: 4px;

}

.LoginNoAccount{
	margin: 0px;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgb(18, 25, 38);
    font-family: Roboto, sans-serif;
    line-height: 1.75;
    text-decoration: none;
	display: flex;
	justify-content: center; /* Centra horizontalmente */
	align-items: center;
}